.block-team,
.block-two-columns,
.block-two-columns-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.card.card-team {
	border-radius: 0;
	border: none;
	box-shadow: $shadow-2;
	
	.card-img-top {
		border-radius: 0;
		transition: .8s cubic-bezier(0, 0, 0, 1.11);

		&:hover {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
		}
	}

	.team-body {
		padding: 2.5rem;
	}

	.team-title {
		color: $heading-color;
		line-height: 1;
	}

	.team-position {
		color: #333333;
		font-weight: 100;
	}

	ul.social-media-links {
		position: absolute;
		bottom: 5.5px;
    	right: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 5px;

		li {
			a {
				padding: 0.5em;
				background: #F77F00;
				height: 30px;
				width: 40px;
				color: $white;
				text-align: center;
				transition: .6s cubic-bezier(0, 0, 0.11, 0.72);

				&:hover {
					padding: 0.6em;
					background: #FCBF49;
					color: #F77F00;
				}
			}
		}
	}
}

.block-cta-register {
	.cta-image {
		height: 100%;
	}

	.content p {
		font-weight: 200;
	}
}



.layout-col {
	border-radius: 6px;
	box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.10);

	&-1 {
		background-color: $white;
		//box-shadow: $shadow;
	}

	&-2 {
		background-color: #FDC500;
	}
}

