.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.layout-col {
	border-radius: 6px;
	box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.10);

	&-1 {
		background-color: $white;
		//box-shadow: $shadow;
	}

	&-2 {
		background-color: #FDC500;
	}
}


.card.card-team {
	border-radius: 0;
	border: none;
	box-shadow: $shadow-2;
	
	.card-img-top {
		border-radius: 0;
		transition: .3s ease-in-out;

		&:hover {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
		}
	}

	.team-body {
		padding: 2.5rem;
	}

	.team-title {
		color: $heading-color;
		line-height: 1;
	}

	.team-position {
		color: #333333;
		font-weight: 100;
	}



}