.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
				color: $yellow !important;
			}

			a:hover,
			a.focus {
				color: $yellow !important;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $yellow !important;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $yellow !important;
	}

	&.toggled .menu-main-menu-container {
		box-shadow: $shadow;
		margin-bottom: 20px;
		transition: .8s cubic-bezier(0, 0, 0, 1.11);

		ul {

			li {
				padding: 1em;

				&.current-menu-item {
					background-color: $yellow !important;

					& > a {
						color: $white !important;
					}

				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
    position: absolute;
    right: 10px;
    top: 20px;
	padding: 5px 15px;
    font-size: 24px;
	background-image: linear-gradient(100deg, #212529 0%, #212529 100%);
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-direction: row;
		gap: 30px;
		justify-content: end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

img.custom-logo {
    max-width: 80%;
    padding: 20px;
}